
@{
    ViewBag.Title = "CartView";

}

@model List<SMEProject.Models.Order>
<style>
    .main-layout {
        height: 280px;
    }
</style>
<div class="main-layout">
    <h2 style="color: white; margin-left: 45%"> Your Cart</h2>
 

    <br />
  

    @if (Model.Count == 0)
    {
        <p style="color:white; margin-left:43%">Your shopping cart is empty.</p>
    }
    else
    {
        <table class="table table-bordered" style="color:white">
            <thead>
                <tr>
                    <th>OrderId</th>
                    <th>OrderImage</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.order_id</td>
                        <td><img src="@Url.Content(item.order_image)" height="100" width="100" /></td>

                        <td> @item.order_quantity</td>
                        <td>@item.order_total</td>
                        <td>@(item.order_total * item.order_quantity)</td>
                        <td>

                            @using (Html.BeginForm("RemoveFromCart", "Orders", new { productId = item.order_id, price = item.order_total }, FormMethod.Post))
                            {
                                <input type="hidden" name="productId" value="@item.order_id" />


                                <input type="submit" value="Remove" class="btn btn-primary" />

                            }

                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <br />
        <p style="color:white">Total: @(Model.Sum(item => item.order_total * item.order_quantity))</p>
        @Html.ActionLink("Make Payment", "Payment", "Orders", new { ddd = DateTime.Now }, new { @class = "btn btn-info" })





    }

    <button class="btn btn-info" style="margin-left:45%">
        <a href="@Url.Action("UserDisplay", "Products")" style="color: inherit; text-decoration: none;">Continue Shopping</a>
    </button>
</div>

<style>
    body {
        background-color:darkslategrey;
    }
</style>

