@model IPagedList<SMEProject.Models.Order>

@{
    ViewBag.Title = "CustOrders";
}

@using PagedList.Mvc;
@using PagedList;




<table class="table table-bordered" style="color:white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Registration.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Registration.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Registration.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().order_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().order_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().order_total)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.Username)
            </td>
            <td>
                <img src="@Url.Content(item.order_image)" height="100" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_total)
            </td>


        </tr>
    }

</table>

@Html.PagedListPager(Model, i => Url.Action("CustOrders", "Orders", new { i, search = Request.QueryString["search"] }))

<style>
    body {
        background: rgb(60, 0, 0,0) url('../../images/background images/shoeimg13.jpg') center center fixed;
        background-size: cover;
        background-blend-mode: darken;
        
    }
</style>